In [4]:
from pandas import DataFrame as DF
import numpy as np
import pandas as pd
from sympy.codegen.ast import float32

#  Load from in-memory data

In [5]:
data = {
    'col_1' : [1, 2, 3],
    'col_2' : [10, 20, 30]
}

from_mem = DF(data, dtype=float)
print("Head: ", from_mem.head())
print("Tail: ", from_mem.tail())
print("shape: ", from_mem.shape)
print("\nKeys: ", from_mem.keys().values)
print("Values: ", from_mem.values)
print("\nDTypes: ", from_mem.dtypes)
print("\nInfo: ", from_mem.info())
print("\nDescribe: ", from_mem.describe())

Head:     col_1  col_2
0    1.0   10.0
1    2.0   20.0
2    3.0   30.0
Tail:     col_1  col_2
0    1.0   10.0
1    2.0   20.0
2    3.0   30.0
shape:  (3, 2)

Keys:  ['col_1' 'col_2']
Values:  [[ 1. 10.]
 [ 2. 20.]
 [ 3. 30.]]

DTypes:  col_1    float64
col_2    float64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   col_1   3 non-null      float64
 1   col_2   3 non-null      float64
dtypes: float64(2)
memory usage: 180.0 bytes

Info:  None

Describe:         col_1  col_2
count    3.0    3.0
mean     2.0   20.0
std      1.0   10.0
min      1.0   10.0
25%      1.5   15.0
50%      2.0   20.0
75%      2.5   25.0
max      3.0   30.0

In [6]:
# Select a Column
col_1 = from_mem['col_1']
col_2 = from_mem['col_2']
print("\nColumn 'Col_1': \n", col_1.head())
print("\nColumn 'Col_2': \n", col_2.head())

# Select a subset of columns (use Array with array) - swapped the column order
selected = from_mem[['col_2', 'col_1']]
print("\nselected: \n", selected.head())

Column 'Col_1':
 0    1.0
1    2.0
2    3.0
Name: col_1, dtype: float64

Column 'Col_2':
 0    10.0
1    20.0
2    30.0
Name: col_2, dtype: float64

selected:
    col_2  col_1
0   10.0    1.0
1   20.0    2.0
2   30.0    3.0

# Read from CSV as a DF

In [7]:
df_sales = pd.read_csv('Product_sales.csv')
print("\ncsv type: \n", type(df_sales), "\nRowCount: ", df_sales['Id'].count())
print("\ncsv Head: \n", df_sales.head())
print("\ncsv Tail: \n", df_sales.tail())

print(df_sales.count())

csv type:
 <class 'pandas.core.frame.DataFrame'>
RowCount:  580

csv Head:
    Id Product Category              Product         City      Sales  \
0   1            Books      Self-Help Guide      Phoenix     $54.74
1   2       Home Goods         Blender X100  Los Angeles  $1,059.04
2   3            Books      Self-Help Guide      Houston    $163.66
3   4        Groceries  Protein Bar 12-Pack    San Diego     $19.16
4   5       Home Goods            Desk Lamp  Los Angeles    $590.24

         Date  Units Sold
0    6/3/2023           4
1   2/24/2024           7
2    2/3/2024          11
3  10/23/2023           2
4  10/26/2024           4

csv Tail:
         Id Product Category              Product         City      Sales  \
575  14577        Groceries       Organic Coffee      Chicago     $70.08
576  14578      Electronics           Headphones    San Diego  $2,954.21
577  14579          Apparel          Sneakers V2  Los Angeles    $365.91
578  14580       Home Goods      Coffee Maker V3  San Antonio    $425.07
579  14581            Books  Fiction Best Seller     New York    $166.44

           Date  Units Sold
575   1/28/2023           7
576    9/6/2023           6
577   3/29/2024           7
578   11/3/2023           3
579  11/11/2024           1
Id                  580
Product Category    580
Product             580
City                580
Sales               580
Date                580
Units Sold          580
dtype: int64

### Shape and Columns

In [8]:
#less typing
df = df_sales
print("dataframe shape: ", df.shape)

col_prod_cat = df['Product Category']
print("Prod Cat Column-shape: ", col_prod_cat.shape)
print("Unique value counts of col ProdCat: ", col_prod_cat.value_counts())
print("Prod Cat (size): ", col_prod_cat.size)
print("Prod Cat (size): ", col_prod_cat.max)

dataframe shape:  (580, 7)
Prod Cat Column-shape:  (580,)
Unique value counts of col ProdCat:  Product Category
Electronics    129
Apparel        126
Groceries      117
Home Goods     115
Books           93
Name: count, dtype: int64
Prod Cat (size):  580
Prod Cat (size):  <bound method Series.max of 0            Books
1       Home Goods
2            Books
3        Groceries
4       Home Goods
          ...
575      Groceries
576    Electronics
577        Apparel
578     Home Goods
579          Books
Name: Product Category, Length: 580, dtype: object>

In [9]:
# Understand your data - there could be multiple rows with the same product
# or product category!



# Returns the 2D array!
arr = df_sales.values

# Returns 1D array of list of columns
cols_list = list(df_sales.columns)
print(cols_list[0::1])
# Alternatively,
print(df_sales.keys().values[0::2])

# Print Columns
print(df_sales.columns)

# Get a specific column
# AND: the Frequency distribution of a Particular column - 'Product'
print("========= Freq Dist of 'Product' ========")
col_product = df['Product']
print(col_product.value_counts())
print("------------\n")

# Alt: group by 'Product' and count as aggregate
# Returns a new data-frame of with counts for each group as row, and all columns
countByProd = df.groupby(by=['Product']).count()
print(countByProd.head())

# Ideally, this is a sample format for the Group by on one column, and aggregate on another
# dept_counts = df.groupby("department")["employee_id"].count()

['Id', 'Product Category', 'Product', 'City', 'Sales', 'Date', 'Units Sold']
['Id' 'Product' 'Sales' 'Units Sold']
Index(['Id', 'Product Category', 'Product', 'City', 'Sales', 'Date',
       'Units Sold'],
      dtype='object')
========= Freq Dist of 'Product' ========
Product
Cereal Max             45
Desk Lamp              40
Organic Coffee         40
Jacket Bomber          37
Headphones             36
Smartphone X           35
Cooking Book           33
Protein Bar 12-Pack    32
Smartwatch Z           32
Fiction Best Seller    31
Jeans Slim             31
Coffee Maker V3        30
Sneakers V2            30
Self-Help Guide        29
T-shirt Basic          28
Laptop Pro             26
Blender X100           23
Smart Vacuum           22
Name: count, dtype: int64
------------

                 Id  Product Category  City  Sales  Date  Units Sold
Product
Blender X100     23                23    23     23    23          23
Cereal Max       45                45    45     45    45          45
Coffee Maker V3  30                30    30     30    30          30
Cooking Book     33                33    33     33    33          33
Desk Lamp        40                40    40     40    40          40